.start-menu {
  display: flex;

  width: 100px;
  padding: 0 5px;

  cursor: pointer;
  text-align: center;

  outline: none;

  .Icon {
    margin:0;
    img{
      margin-top:3px;
      height:25px;
    }
  }
  * {
    pointer-events: none;
  }
}

.start-menu.in-border-hard {
  div {
    transform: translateY(2px);
  }
}
